.idea
.npm
.phpunit.cache
.env
.git
.gitattributes
.gitignore
.DS_Store
.editorconfig
.phpstorm.meta.php
.phpunit-cache
.deploy

_ide_helper.php
_ide_helper_models.php

vendor
node_modules

public/vendor/horizon
public/storage

storage/logs/*.log
storage/app/private
storage/app/public

bitbucket-pipelines.yml
phpstan.neon
phpstan-baseline.neon
phpunit.xml
docker-compose*.yml
grumphp.yml
Makefile

*.md
